@font-face {
    font-family: '29LT Bukra';
    src: url('29LTBukra-Light.eot');
    src: url('29LTBukra-Light.eot?#iefix') format('embedded-opentype'),
        url('29LTBukra-Light.woff2') format('woff2'),
        url('29LTBukra-Light.woff') format('woff'),
        url('29LTBukra-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '29LT Bukra';
    src: url('29LTBukra-Bold.eot');
    src: url('29LTBukra-Bold.eot?#iefix') format('embedded-opentype'),
        url('29LTBukra-Bold.woff2') format('woff2'),
        url('29LTBukra-Bold.woff') format('woff'),
        url('29LTBukra-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '29LT Bukra';
    src: url('29LTBukra-Light_1.eot');
    src: url('29LTBukra-Light_1.eot?#iefix') format('embedded-opentype'),
        url('29LTBukra-Light_1.woff2') format('woff2'),
        url('29LTBukra-Light_1.woff') format('woff'),
        url('29LTBukra-Light_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '29LT Bukra';
    src: url('29LTBukra-Bold_1.eot');
    src: url('29LTBukra-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('29LTBukra-Bold_1.woff2') format('woff2'),
        url('29LTBukra-Bold_1.woff') format('woff'),
        url('29LTBukra-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

